@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}

.mybtn{
    background-color: black;
    color: #fff;
    border-radius: 10px;
}

.mybg{
    background: no-repeat url(images/bg-1.png);
    background-position: left;
    background-size: contain;
    position: sticky;
}

.slider{
    background: no-repeat left bottom url(images/bg-2.png);
    position: sticky;
}

.carousel-indicators .slider-button{
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.titl {
    padding: 25px;
    display: flex;
    align-items: flex-end;
    font-family: 'Rubik', sans-serif;
}

.titl h3{
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
}

.titl h6 a{
    color: orange;
    text-decoration: none;
}


.card{
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 20px lightgray;
}

.card img{
    width: fit-content;
    height: fit-content;

}

.cardp p{
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.cardp h5{
    font-size: 25px;
    font-weight: bold;
}


